{% extends 'base.html.twig' %}

{% block title %} Homepage{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>





<div class="container">
	<div class="row">
		<div class="col-md-12 col-12">

		    <div id="slideshow">
			   <div>
			     <img src="https://i.pinimg.com/originals/51/7e/83/517e83eb97c94ffc7bec62db71c3c586.jpg">

			     <div class="slider_content">
			     	<h1>Minunatii nori de sub luna cea mare!</h1>

			     	<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
			     </div>

			   </div>
			   <div>
			     <img src="https://avante.biz/wp-content/uploads/Ultra-Wide-HD-Wallpapers/Ultra-Wide-HD-Wallpapers-002.jpg">

			     <div class="slider_content">
			     	<h1>Orasul tutoror posibilitatilor!</h1>

			     	<a href="https://newyork.cbslocal.com/category/news/ny-news/">Vezi ultimele stiri</a>
			     </div>
			   </div>
			   <div>
			     <img src="https://c4.wallpaperflare.com/wallpaper/813/782/456/the-witcher-3-wild-hunt-ultra-wide-hd-wallpaper-preview.jpg">

			     <div class="slider_content">
			     	<h1>Ce tare e la tara!</h1>

			     	<a href="#">Mergi aici</a>
			     </div>
			   </div>
			</div>

		</div>
	</div>

	<div class="row">

		<div class="col-md-4 col-12" style="margin-bottom:40px">

			<div class="imgcontainer">
				<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/27/PHP-logo.svg/1200px-PHP-logo.svg.png" class="prgimgs">
			</div>

			<h3 class="text-center">Server-side</h3>
			<p style="color:black" class="text-center">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>

		</div>

		<div class="col-md-4 col-12" style="margin-bottom:40px">
			<div class="imgcontainer">
				<img src="https://logodix.com/logo/375047.png" class="prgimgs">
			</div>

			<h3 class="text-center">Frontend</h3>

			<p style="color:black" class="text-center">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
		</div>

		<div class="col-md-4 col-12" style="margin-bottom:40px">
			<div class="imgcontainer">
				<img src="https://upload.wikimedia.org/wikipedia/ro/thumb/6/62/MySQL.svg/1200px-MySQL.svg.png" class="prgimgs">
			</div>

			<h3 class="text-center">Database</h3>

			<p style="color:black" class="text-center">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
		</div>

	</div>

</div>

{% endblock %}
